.home-button {
  background: black;
  color: white;
  width: 70%;
  max-width: 550px;
  border: none;
  border-radius: 3px;
  height: 3em;
  margin-top: 2em;
}

#saved-articles-placeholder {
  margin-top: 5em;
  color: rgba(0, 0, 0, .2)
}