.option {
  font-size: 1.5em;
  margin: .5rem 0;
  background: black;
  color: white;
  border: none;
  border-radius: 3px;
}

.option:focus {
  background: #fff;
  color: black;
  border: 1px solid black;
}
